* {
    margin: 0;
    padding: 0;
}

body{
    perspective: 1000;
}

div {
    position: absolute;
    top: 150px;
    left: 150px;

    width: 200px;
    height: 200px;
    background-color: darkorange;

    transform: rotateX(45deg);
}